<div class="app-ui-page">
  <div class="app-ui-header">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">TamedJs Ui</a>
        <!-- <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
              Features
            </a>
          </li>
        </ul>
        <div class="uk-navbar-item">
          <div>Some <a href="#">Link</a></div>
        </div>
        <div class="uk-navbar-item">
          <form action="javascript:void(0)">
            <input class="uk-input uk-form-width-small" type="text" placeholder="Input">
            <button class="uk-button uk-button-default">Button</button>
          </form>
        </div> -->
      </div>
    </nav>
  </div>
  <div class="app-ui-body">
    <div class="app-ui-sidebar">
      <div class="uk-padding-small">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li class="uk-active"><a href="#">TamedJs Ui Library Angular 5</a></li>
          <li class="uk-parent uk-open">
            <a href="#">Components</a>
            <ul class="uk-nav-sub">
              <li><a routerLink="/components/buttons">Buttons</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="app-ui-content uk-padding-small">
      <h2>TamedJs Ui Angular 5 Libraray</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="app-ui-footer"></div>
</div>
