div[data-tamedjs-federate-micro-app="true"] {
  border: 2px solid red;
  background-color: #fff;
  left: 50%;
  font-size: 10px;
  margin-left: -50px;
  /* right: 50%; */
  bottom: 10px;
  color: red;
  padding: 5px 10px;
  position: fixed;
  width: 100px;
  text-align: center;
}
html, body {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
html[data-app] {
  background-color: #a2a2a2;
}
html[data-app] body, body[data-app] {
  border: 20px solid #a2a2a2;
  opacity: 0;
}
body {
  /* animation: commonBodyFadeIn ease 0.5s; */  
}
body.ready {
  animation: commonBodyFadeIn ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background-color: #fff;
}

@keyframes commonBodyFadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}
